/* .containers{
    position: relative;;
} */


.galleryContainer{
    margin: auto;
}
.btnstyle{
    padding: 10px;
    /* display: flex;
     */
    
    }
    .btnstyle  button{
        padding: 10px;
        margin: 10px;
    }